body{
    background: url('../images/homePozadina.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    backdrop-filter: brightness(0.5) contrast(1.2);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

#main-content{
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    row-gap: 0px;
}

#name{
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Merienda', sans-serif;
    color: white;
}

#logo{
    position: relative;
    top: 30px;
}

#title {
    font-size: 48px;
    font-family: 'Overlock', sans-serif;
    color: #2e8b57;
    margin-bottom: 16px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-style: italic;
}

p {
    font-size: 19px;
    margin-bottom: 0 0 16px;
    animation: growText 2s ease-out;
}

@keyframes growText{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

button{
    margin-top: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
    width: 170px
}

#quiz{
    background: linear-gradient(to right, rgb(118, 203, 239), white, rgb(118,203,239));
    color: black;  
}

#quiz:hover {
    background: linear-gradient(to right, white, rgb(118, 203, 239), white);
}

#info{
    background: linear-gradient(to right, white, rgb(118, 203, 239), white); 
    color: black; 
    padding: 5px 10px; 
    font-size: 12px; 
    cursor: pointer; 
    border-radius: 8px;
}

#info:hover {
    background: linear-gradient(to right, rgb(118, 203, 239), white, rgb(118,203,239)); 
}

nav{
    position: absolute; 
    top: 20px;
    right: 20px;
    display: flex; 
    gap: 5px; 
}


nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    margin: 0;
    padding: 0;
}  

nav ul li{
    margin: 0 10px;
}


nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding: 5px 5px;
    transition: color 0.3s;
}

nav ul li a:hover{
    color: aquamarine;
}

