body, html {
    background-image: url('../images/quizpozadina');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: brightness(0.5) contrast(1.5);
}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#start-btn{
    background: linear-gradient(45deg, rgba(128, 128, 128, 0.722), black);
    color: lightblue;
    font-weight: bold;
    cursor: pointer;
}

#start-btn:hover{
    background: linear-gradient(90deg, black, rgba(128, 128, 128, 0.722));
}

#quiz-container {
    width: 80%;
    max-width: 600px;
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%); 
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#quiz-container h1 {
    font-size: 32px;
    color: #050000;
    animation: growText 2s ease-out;
}

@keyframes growText{
    0%{
        transform: scale(0.5);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

#question {
    font-size: 24px;
    color: #0b0101ee;
}

.answer-btn {
    display: block;
    background-color: #4caf87;
    color: white;
    padding: 15px 32px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.answer-btn:hover {
    background-color: #3ccd82;
}

.selected {
    background-color: #19813f; 
    color: white;
}

.selected:hover{
    background-color: #19813f;
}

button:disabled{
    background-color: #4caf87;
    color: white;
}

button:disabled:hover{
    background-color: #4caf87;
}

#next-btn, #finish-btn {
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#next-btn:hover, #finish-btn:hover {
    background-color: #007b8a;
}

nav{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 5px;
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
}

nav ul li{
    margin: 0 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 19px;
    padding: 5px 5px;
    transition: color 0.3s;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

nav ul li a:hover{
    color: rgb(119, 209, 242);
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}